:root {
    --color-dark: #444;
    --color-light: #ecc026;
  /* понадобится для того, чтобы сделать поле квадратным */
    --di: min(100vh, 100vw);
  /* размер поля */
    --board-di: calc(var(--di) * 0.66666666);
  /* толщина штриховки */
    --border: calc(var(--board-di) * 0.013333333);
  /* размеры больших и маленьких фигур */
    --dimension-lg: calc(var(--line) * 14); 
    --dimension-sm: calc(var(--line) * 7); 
  /* делаем толщину линии равной толщине штриховки */
    --line: var(--border);
}

body {
    box-sizing: border-box;
    background-color: rgb(243, 249, 253);
}

.wrapper {
    width: 460px;
    height: 800px;
    margin: 0 auto;
}

.grid {
    display: grid;
    border: 5px solid #d1e231;
    grid-template-columns: repeat(2, 225px);
    grid-template-rows: repeat(9, 50px);
    font-size: 17px;
}

.item {
    background-color: #ffbf94;
    border-radius: 5px;
    padding: 7px;
    margin: 1px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.item-img {
    width: 240px;
    height: 270px;
    background-image: url(../img/img1.png);
}

label:hover {
    cursor: pointer;
}

.select-item {
    width: 150px;
}

input {
    margin-right: 5px;
}

.button {
    width: 100px;
    height: 50px;
    margin: 10px 0 0 38%;
    background-color: #ffbf94;
    border-radius: 5px;
    &:hover {
        cursor: pointer;
    }
    &:active {
        scale: 0.95;
    }
}

.btn1 {
    width: 20px;
    height: 20px;
    margin: 0;
    background-color: #e4ddd8;
    border-color: aliceblue;
    padding: 0;
}

@import "modal"
