//colors
/* $color-dark:#000000;
$black_blue: #333B41;
$frosted_glass_white: #FDFDFF;
$gray_dark: #72828E;
$gray: #767474;
$gray_light: #F1F3F2;
$gray_smoky: #ABABAB;
$green: #4B9200;
$orange: #F9804B;
$orange_dark: #E47209;
$orange_grad: #FED290;
$pink_gradient: #FEBDAB;
$red: #D31414;
$white: #FFFFFF;
$yellow: #FFEE2E; */

$color-dark: #444;
$color-light: #c2c2c2;
$color-border: #000000;
$orange: #ffbf94;
$white: #FFFFFF;