


.head {
    display: flex;
    justify-content: space-around;
}

.logo {
    width: 190px;
    height: 68px;
    //margin-right: 63px;  */
    padding: 5px;
    /* border: 1px solid $white;
    border-radius: 2px; */
}

.nav {
    display: flex;
    align-items: center;
    width: auto;
    height: 80px;
}

.nav-ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-ul-li_list {
    margin-right: 30px;
}


.nav-ul-li_list:hover,
.logo:hover {
    cursor: pointer;
    
}

.nav-ul-li_list {
    text-decoration: none;
    font-weight: 500;
    line-height: 140%;
    color: $white;
}


.active {
    color: $orange;
    cursor: none;
}

.nav-ul-li_list:active {
    color: $orange;
}

.hamburger {
    display: none;
}




@media screen and (max-width: 840px) {
    /* burger menu */
    
    .nav {
        position: fixed;
        top: 0;
        right: -100%;
        background-color: #292929;
        width: 320px;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        padding-top: 30px;
        transition: 0.4s ease-in-out;
        z-index: 9;
        overflow: auto;
    }
    .nav.open {
        right: 0;
        transition: 0.4s ease-in-out;
    }
    .nav-ul {
        margin-top: 248px;
        width: 320px;
        height: 327px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .nav-ul-li {
        margin-right: 0;
    }
    .nav-ul-li_list {
        font-size: 32px;
        color: #FAFAFA;
        margin-right: 0;
    }
    .hamburger {
        display: block;
        width: 30px;
        height: 22px;
        //margin-left: 43px;
        cursor: pointer;
        transition: all 0.4s ease-in-out;
        z-index: 10;
        margin-top: 20px;
    }
    .line {
        width: 100%;
        height: 2px;
        background-color: $gray;
        margin: 0 0 8px 0;
    }
    .hamburger.open {
        transform: rotate(90deg);
    }
}