.main {
    flex-grow: 1;
}
.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

h1 {
    margin: 0 0 20px 665px;
    padding-top: 335px;
    color: $gray_dark;
}

.about-bkg {
    max-width: 1045px;
    height: 500px;
    background-image: url("../../../assets/img/background-about.jpg");
    margin: 0 auto;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
    &:hover {
        transform: scale(1.02);
        transition: all 0.5s;
        cursor: pointer;
        box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.4);
    }
}



@import "about";
@import "calculation";
