@charset "UTF-8";
:root {
  /* понадобится для того, чтобы сделать поле квадратным */
  --di: min(100vh, 100vw);
  /* размер поля */
  --board-di: calc(var(--di) * 0.66666666);
  /* толщина штриховки */
  --border: calc(var(--board-di) * 0.013333333);
  /* размеры больших и маленьких фигур */
  --dimension-lg: calc(var(--line) * 14);
  --dimension-sm: calc(var(--line) * 7);
  /* делаем толщину линии равной толщине штриховки */
  --line: var(--border);
}

/* $color-dark:#000000;
$black_blue: #333B41;
$frosted_glass_white: #FDFDFF;
$gray_dark: #72828E;
$gray: #767474;
$gray_light: #F1F3F2;
$gray_smoky: #ABABAB;
$green: #4B9200;
$orange: #F9804B;
$orange_dark: #E47209;
$orange_grad: #FED290;
$pink_gradient: #FEBDAB;
$red: #D31414;
$white: #FFFFFF;
$yellow: #FFEE2E; */
* {
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  color: #444;
  box-sizing: border-box;
}

body {
  background-color: #d0e4ef;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

h2 {
  font-size: 24px;
  font-weight: 500;
}

.wrapper {
  max-width: 1045px;
  margin: 0 auto;
}

.header, .footer {
  height: 80px;
  background-color: #444;
  color: #FFFFFF;
}

.head {
  display: flex;
  justify-content: space-around;
}

.logo {
  width: 190px;
  height: 68px;
  padding: 5px;
  /* border: 1px solid $white;
  border-radius: 2px; */
}

.nav {
  display: flex;
  align-items: center;
  width: auto;
  height: 80px;
}

.nav-ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-ul-li_list {
  margin-right: 30px;
}

.nav-ul-li_list:hover,
.logo:hover {
  cursor: pointer;
}

.nav-ul-li_list {
  text-decoration: none;
  font-weight: 500;
  line-height: 140%;
  color: #FFFFFF;
}

.active {
  color: #ffbf94;
  cursor: none;
}

.nav-ul-li_list:active {
  color: #ffbf94;
}

.main {
  flex-grow: 1;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 0 0 20px 665px;
  padding-top: 335px;
  color: #444;
}

.about-bkg {
  max-width: 1045px;
  height: 500px;
  background-image: url("../../../assets/img/background-about.jpg");
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
}
.about-bkg:hover {
  transform: scale(1.02);
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.4);
}

.about {
  max-width: 1045px;
}

.calculation {
  display: flex;
  flex-direction: column;
}

.title-calc {
  margin: 20px auto;
}

.nav-ul-calc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: circle;
}

.nav-ul-li-calc {
  color: #444;
  -webkit-text-decoration: dotted;
          text-decoration: dotted;
}

.nav-ul-li-calc:hover {
  transition: all 0.4s;
  color: #4B9200;
  transform: scale(1.2);
}/*# sourceMappingURL=style.css.map */